* {
  margin: 0;
  padding: 0;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow-x: hidden;
}

.App {
  width: 200vh;
  height: 100%;
}

.swiper {
  width: 150px;
  height: 150px;
  margin-bottom: 1.5rem;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  height: 100%;
  width: 100%;
}

.swiper h1 {
  font-size: 15px;
}
